- first_one = true
%hr
%div
  - @committee.discussions.reverse_chronological.each do |discussion|
    - if !discussion.proposal or discussion.proposal.status == 'Submitted'
      - if first_one
        - first_one = false
        %hr
        %div.only_discussion_block
          %h3 Only Discussions:
          %p These discussions do not have any viewable associated proposals.
      %div.only_discussion_block
        = link_to discussion.display_title, discussion_path(discussion)
        %small
          Created:
          = discussion.created_at.to_date.to_s(:long) + "."
          Last comment:
          %time.js--days-ago{ datetime: discussion.updated_at.iso8601 }
      %hr
- first_one = true
%div
  - @committee.discussions.reverse_chronological.each do |discussion|
    - if discussion.proposal and discussion.proposal.status != 'Submitted'
      - if first_one
        - first_one = false
        %hr
        %div.discussions_with_proposals_block
          %h3 Discussions for Proposals:
          %p These discussions have proposals associated with them.
      %div.discussions_with_proposals_block
        = link_to discussion.display_title, discussion_path(discussion)
        %small
          Created:
          = discussion.created_at.to_date.to_s(:long) + "."
          Last comment:
          %time.js--days-ago{ datetime: discussion.updated_at.iso8601 }
        =link_to "Associated proposal", proposal_path(discussion.proposal)
      %hr