%b The following proposal has been submitted:
%h1
  Title: #{@title}
%br
= link_to 'Link to proposal', proposal_url(@proposal)
%h2 Proposal:
= simple_format @rule_text
%h2 Body:
= simple_format @body
