%b Call for Voting.
%br
%p The following proposal is now in the voting stage:]
= link_to @proposal.title}, proposal_url(@proposal)
%br
%p If you are a committee member, please visit the link above
  and read through the latest revision. Then vote how you see fit by #{@vote_end}.
