- comment = show
- return if comment.new_record?
= render partial: "comments/originator", locals: { title: "Comment", committee: comment.discussion.committee, owner_name: comment.user.to_s, date: comment.created_at, html: comment.comment.html_safe }
