<% comment = show
if comment.new_record?
    return
end
%>
<h4>Comments <% if can? :read, User %> by <b><%= comment.user.to_s %></b><% end %>
    on <i><b><%= comment.created_at.to_s %></b></i></h4>
<p><blockquote><%= comment.comment %></blockquote></p>
