%p
  This committee has been set up to achieve the following objectives:
%ol
  %li To establish the general parameters for setting an Generic Rule (eg measurement, witnesses, documentation)
  %li To establish which rules the IUF will recognise
  %li To establish event-specific rules that the IUF recognises
%p
  As they are completed, these proposals will be submitted to the IUF Board for approval.
  %br
  Please familiarise yourself with the IUF Rulebook prior to starting discussion on the committee:
  %a{:href => "/IUF_Rules_2012_english.pdf"} IUF Rulebook 2012
  %br
  %br
  %b Deadlines
  %br
  %i 1 April
  To have the Committee established. To discuss the ideas and goals of the committee.
  %br
  %i 1 May
  To establish general parameters for rules
  %br
  %i 1 June
  To establish which rules the IUF will recognise
  %br
  %i 1 July
  To establish event specific rules (if necessary)
  %br
  %i 1 August-1 October
  Other rule proposals
  %br
  %i 1 October
  End of committee use
  %br
