%h1
  Welcome to the Unicycling Rulebook Application

%p Please choose the rulebook year

%ul
  - @rulebooks.each do |rulebook|
    %li= link_to rulebook.rulebook_name, welcome_index_path(rulebook_slug: rulebook.subdomain)

= link_to "create new rulebook application", rulebooks_path
