- if not @config.nil?
  %h1
    Welcome to the #{@config.rulebook_name}
  = raw(@config.front_page)
- else
  = render "default_welcome"

%h4 Available Committees
- @committees.each do |committee|
  = link_to committee.name, committee_path(committee)
  %br
