%h1
  Welcome to the #{@config.rulebook}
- if @config.front_page.present?
  = @config.front_page.html_safe
- else
  = render "default_welcome"

%h4 Available Committees
- @committees.each do |committee|
  = link_to committee.name, committee_path(committee)
  %br
