<h3>Background</h3>
<p><%= revision.background %></p>

<% # XXX must be admin?
%>
<h3>Additional Notes</h3>
<p><%= proposal.summary %></p>

<h3>Proposal</h3>
<p><%= revision.body %></p>

<h3>References</h3>
<p><%= revision.references %></p>

