<h3>Background</h3>
<%= simple_format revision.background %>

<h3>Proposal</h3>
<%= simple_format revision.rule_text %>

<h3>Body</h3>
<%= simple_format revision.body %>

<h3>References</h3>
<%= simple_format revision.references %>

