<h3>Background</h3>
<p><pre><%= revision.background %></pre></p>

<% # XXX must be admin?
%>
<h3>Additional Notes</h3>
<p><pre><%= proposal.summary %></pre></p>

<h3>Proposal</h3>
<p><pre><%= revision.body %></pre></p>

<h3>References</h3>
<p><pre><%= revision.references %></pre></p>

