<h3>Votes on this proposal:</h3>
<b>Agree:</b> <strong><%= vote_summary.agree_votes %></strong>,
<b>Disagree:</b> <strong><%= vote_summary.disagree_votes %></strong>,
<b>Abstain:</b> <strong><%= vote_summary.abstain_votes %></strong>.
