%h1 Submit a New Proposal

%p
  Before creating a proposal, consider whether a discussion should be created, so that discussion about the exact change to be proposed can be had in advance of writing up the proposal.

%p
  Please enter all the details below for your new proposal. Once submitted, it will be reviewed by the committee chairperson and then put up for review.
%p
  %b
    It is RECOMMENDED that you compose your proposals in an offline word processor program and then paste them here when done to prevent accidental technical errors.
= render 'form'
= link_to 'Back', root_path
