<h1>Submit a New Proposal</h1>

<p>
Please enter all the details below for your new proposal. Once submitted, it will be reviewed by the committee chairperson and then put up for review.
</p>

<p>
<b>
It is RECOMMENDED that you compose your proposals in an offline word processor program and then paste them here when done to prevent accidental techical errors.</b>
</p>

<%= render 'form' %>

<%= link_to 'Back', proposals_path %>
