// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.only_discussion_block {
  background-color: #D6FAD6;
}

.discussions_with_active_proposals_block {
  background-color: #C8DAFF;
}

.closed_discussion_block, .discussions_with_passed_proposals_block {
  background-color: #FFD8D8;
}
