// Place all the styles related to the Proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Review_block {
  background-color: #D6FAD6;
}

.Voting_block {
  background-color: #C8DAFF;
}

.is--hidden {
  // override any element styles
  display: none !important;
}
