// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$nav_width: 150px;
$top_height: 5em;

html,body{
    margin: 20;
    padding: 0;
}
body {
    height: 100%;
}
.top_nav {
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: $top_height;
}

.left_nav {
    overflow: auto;
    top: $top_height;
    padding: 5px;
}

.left_nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.main_nav {
}

strong {
    color: red;
}

// Form formatting:
textarea {
    height: 400px;
    width: 60%;
}
#subject {
    width: 60%;
}

/* Taken from http://www.alistapart.com/articles/prettyaccessibleforms/ */
form fieldset {
  margin-bottom: 10px;
}
form legend {
  padding: 0 2px;
  font-weight: bold;
}
.field label {
  width: 20%;
}
.detail {
  width: 20%;
  word-wrap: normal;
  vertical-align: top;
  display: inline-block;
}
form label {
  display: inline-block;
  line-height: 1.8;
  font-weight: bold;
  vertical-align: top;
}
form fieldset ol {
  margin: 0;
  padding: 0;
}
form fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form fieldset fieldset label {
  display: block;
  width: auto;
}
form em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form label {
  width: 120px; /* Width of labels */
}
form fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}
