- return if show.new_record?
%b= show.user
voted

%time.js--days-ago{ datetime: show.created_at.iso8601 }
(#{l(show.created_at, format: :short)})
- if not show.comment.blank?
  %blockquote= show.comment
%br
