= yield

\
\--------
#{Rulebook.current_rulebook.rulebook_name}, copyright #{raw Rulebook.current_rulebook.copyright_description}
To unsubscribe from these e-mails, choose "Account Settings" on your account.
