!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    = yield

    %div
      %small #{Rulebook.current_rulebook.rulebook_name}, copyright &copy; #{@config.copyright_description.html_safe} 
      %small
        To unsubscribe from these e-mails, choose "Account Settings" on your account.
