!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    = yield

    %div
      %small
        To unsubscribe from these e-mails, choose "Account Settings" on your account.
